/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}

html {
  width: 960px;
  display: table;
  margin: auto;
}

body{
  width: 80%;
  display: table-cell;
}

#logo {
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 5px;
  font-family: 'Ubuntu';
}

.nav {
  margin: 5px;
}

#nav-home {
  float: left;
  margin: 0px 5px 5px 5px;
}

#nav-user {
  margin: 0px 5px 5px 5px;
}

#nav-logout {
  margin: 0px 5px 5px 5px;
}

.optional {
  display: inline-block;
}

.phone {
  display: inline-block;
}

.columns {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.columns h3 {
  font-size: 2em;
}
